<md-dialog aria-label="Customer Information">
  <form ng-cloak>
    <md-toolbar class="pomegranate">
      <div class="md-toolbar-tools">
        <h2>Customer Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="Transaction History" ng-click="ToggleTab('transactions')">
          <md-content class="md-padding">
                

                <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="doneloading_transaction">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
 
                <div class="empty-element" >{{ norecordText }}</div>


               <div class="table-responsive">
                  <table ng-table="tableParams" class="table-scroll-fixed table-len-1650 " show-filter="false" ng-show="doneloading_transaction && norecordText =='' ">
                     <tr ng-repeat="item in $data" class="even">  
                          <!-- <td title="'Card No.'" filter="{ card: 'text'}" sortable="'card'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.card }}
                          </td>   -->
                          <td title="'Member ID'" filter="{ memberID: 'text'}" sortable="'memberID'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.memberID }}
                          </td> 
                          <td title="'Email'" filter="{ email: 'text'}" sortable="'email'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.email | InitUpperCase}}
                          </td>   
                          <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.name | InitUpperCase}}
                          </td>  
                          <td title="'Transaction Type'" filter="{ transtype: 'text'}" sortable="'transtype'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.transtype}}
                          </td>    
                          <td title="'Branch'" filter="{ branch: 'text'}" sortable="'branch'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.branch }}
                          </td>  
                          <td title="'Amount'" filter="{ transamount: 'number'}" sortable="'transamount'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.transamount | number }}
                          </td>  
                          <td title="'Earned Points'" filter="{ earnedpoint: 'number'}" sortable="'earnedpoint'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.earnedpoint | number }}
                          </td>  
                          <td title="'Used Points'" filter="{ usedpoint: 'number'}" sortable="'usedpoint'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.usedpoint | number }}
                          </td> 
                          <td title="'Date'" filter="{ date: 'text'}" sortable="'date'" header-class="'bg-table-header-primary'" style="text-align:center;">
                           {{item.date }}
                          </td>   
                     </tr>
                  </table> 
               </div> 


          </md-content>
        </md-tab>
        <md-tab label="Details" ng-click="ToggleTab('details')">
          <md-content class="md-padding"> 

                <md-card style="min-width: 800px;" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{ customer.name | InitUpperCase}}</span>
                      <span class="md-subhead">{{ customer.email }}</span>
                      
                      <div class="card-info-content">
                        <label>{{ customer.dateofbirth }}</label>
                        <p>Birthday</p>  
                      </div> 
                      <div class="card-info-content">
                        <label>{{ customer.gender | InitUpperCase}}</label>
                        <p>Gender</p>  
                      </div> 
                      <div class="card-info-content">
                        <label>{{ customer.mobile }}</label>
                        <p>Mobile</p>  
                      </div> 
                      <div class="card-info-content">
                        <label>{{ customer.qrCard }}</label>
                        <p>Card No</p>  
                      </div>  
                      <div class="card-info-content">
                        <label>{{ customer.totalpoints | number  }}</label>
                        <p>Total Points</p>  
                      </div> 

                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-xl card-media">
                          <img src="assets/img/default.png" class="md-card-image" alt="Washed Out">
                      </div>
                    </md-card-title-media>
                  </md-card-title>  
                </md-card>
 
          </md-content>
        </md-tab>
 
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row"> 
      <md-button ng-click="export()" class="primary" md-autofocus ng-hide="!toggleTransaction" >
         Export
      </md-button>
      <span flex></span> 
      <md-button ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>

  </form>

</md-dialog>