<md-toast>
  <span class="md-toast-text" flex> {{ status }} </span>
  <md-button class="md-highlight" ng-click="openMoreInfo($event)" ng-hide="!hasMessage">
    More info
  </md-button>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>
