﻿
/***
Responsive & Scrollable Tables
***/ 
.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 10px 0 !important;
}

.table-link{
  color: #0070ff;
}
 
.table-scrollable>tbody>tr>td, 
.table-scrollable>tbody>tr>th, 
.table-scrollable>tfoot>tr>td, 
.table-scrollable>tfoot>tr>th, 
.table-scrollable>thead>tr>td, 
.table-scrollable>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;    
    border-bottom: 1px solid #fff;
    min-width:150px;
}

.table-scrollable>thead>tr {
  border-color: #E26A6A !important; 
}

.table-scrollable>tbody>tr>td:nth-child(1),
.table-scrollable>tbody>tr>th:nth-child(1), 
.table-scrollable>tfoot>tr>td:nth-child(1), 
.table-scrollable>tfoot>tr>th:nth-child(1), 
.table-scrollable>thead>tr>td:nth-child(1), 
.table-scrollable>thead>tr>th:nth-child(1) {
  min-width: 250px !important;
}

/***
Fixed & Scrollable Tables
***/ 
.table-len-1650{
  width: 1550px;  
}
.table-scroll-fixed {
  overflow-x: auto;
  overflow-y: auto;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 10px 0 !important;
}
.table-scroll-fixed>tbody>tr>td, 
.table-scroll-fixed>tbody>tr>th, 
.table-scroll-fixed>tfoot>tr>td, 
.table-scroll-fixed>tfoot>tr>th, 
.table-scroll-fixed>thead>tr>td, 
.table-scroll-fixed>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;    
    border-bottom: 1px solid #fff;
    min-width: 150px !important;
} 
.table-scroll-fixed thead { 
  /*width: 250px !important;*/
}
.table-scroll-fixed tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}
 .table-scroll-fixed tbody, .table-scroll-fixed tr, .table-scroll-fixed td, .table-scroll-fixed th {
  display: inline-block;
}
.table-scroll-fixed tbody td, .table-scroll-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/* General */ 
.hide-element {
  display: none;
}
.display-element {
  display: block;
}

.empty-element{
  width: 600px;
}
.no-padding{
  padding: 0 !important;;
}

.chart, .pie, .bars {
    overflow: hidden;
    height: 350px;
    width: 100%;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
}
/*#voucherchart {
  width: 1500px;
  height: 300px;
}*/
.record-label{
  margin: 0 0 10px 0;
}

/* MARGINS */

.margin-right-10{
  margin-right: 10px;
}


.margin-left-10{
  margin-left: 10px;
}

.table-footer-space{
  height: 100px;
}

/* Scroll bar */
scrollbar,
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
 
/* Track */
scrollbar-track,
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
 /* Scrollbar Color*/
/* Handle */
scrollbar-thumb,
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #24447b;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #f5ca00;
}
scrollbar-thumb:vertical:hover,
scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #f5ca00;
}
 
/* Widget */
.widget-thumb {
    padding: 30px;
    border-radius: 2px;
}
.widget-bg-color-white {
    background: #fff;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}
.widget-thumb .widget-thumb-heading {
    font-size: 14px;
    font-weight: 700 !important;
    color: #666;
    margin: 0 0 20px;
}
.widget-thumb .widget-thumb-wrap {
    overflow: hidden;
}
.widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    float: left;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}
.widget-thumb .widget-thumb-body {
    overflow: hidden;
}
.widget-thumb .widget-thumb-body .widget-thumb-subtitle {
    padding-top: 2px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #8e9daa;
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #3e4f5e;
}

.widget-thumb .widget-thumb-heading {
     font-size: 16px; 
     font-weight: 700 !important; 
     color: #666; 
     margin: 0 0 20px;  
    float: left;
    display: inline-block; 
}

.widget-title{ 
    min-height: 48px; 
}

.widget-tools {
    margin: -7px 0 0;
    float: right;
    display: inline-block;
}

.widget-actions {
  padding: 0px 0 14px 0;
  float: right;
  display: inline-block;
  margin: -7px 0 0 0px;
}

.widget-actions > .btn-group > .btn{
  padding: 4px 10px;
  font-size: 10px;
  line-height: 1.5;
}

.widget-body{ 
    margin: 0 0 15px 0;
}

/* Default view */ 
.view-animate {
  /*position: relative;
  margin-top: 50px;*/ 
}
 
.view-animate.ng-enter {
  transition: 1s linear all;  
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  transition: 1s linear all;  
  opacity: 1;
}
.view-animate.ng-leave{
  opacity: 0;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}


/* Element Specific */
.filter-calendar{
    margin: 0 10px 15px 0px;
    position: relative;
    width: 28%;
    float: left;
}
.filter-text{
    margin: 0 10px 15px 0px;
    position: relative;
    width: 15%;
    float: left;
}



.calendar-style{ 
  cursor: pointer; 
  padding: 5px 10px;  
  font-size: 14px;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 34px;
  margin-bottom: 15px;
}  

.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0px -1px 3px 28px;
    width: 100% !important;
    width: 332px;
}

.imgcircle{
  width: 35px;
  height: 35px;
  background: #fff none repeat scroll 0% 0%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 2px;
  margin-right: 10px;
}

.mainimgcircle{
  width: 200px;
  height: 200px;
  background: rgb(31, 69, 152) none repeat scroll 0% 0%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
  margin-left: 80px;
}

#ageChart {
  width: 100%;
  height: 230px;
  /*font-size : 11px;*/
}         

input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #333;
}