/* CSS Customization for css libraries*/


/* layout.css */
.page-header .page-header-top .page-logo .logo-default {
    /*margin: 8px 0 0 0;
    width: 170px;*/
    margin: 6px 0 0 0;
    width: 82%;
} 

.page-footer {
    font-size: 12px;
    font-weight: 300;
    padding: 17px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

/* TAble */
/*.table-responsive {
    min-height: .01%;
    overflow-x: visible;
}*/

@media(min-width: 992px){
   .col5{
      width: 20%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
   }
}

/* Components-rounded.css */

/***
Red Pomegranate
***/
.primary-theme-font {
    color: #cc127c !important;
}

.label-primary-theme {
  background-color: #cc127c;
}
.label-primary-theme[href]:hover, .label-primary-theme[href]:focus {
  background-color: #cc127c;
}

/* Button */
.primary-theme.btn {
  color: #FFFFFF;
  background-color: #cc127c;
}
.primary-theme.btn:hover, .primary-theme.btn:focus, .primary-theme.btn:active, .primary-theme.btn.active {
  color: #FFFFFF;
  background-color: #eddb00;
}
.open .primary-theme.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #eddb00;
}
.primary-theme.btn:active, .primary-theme.btn.active {
  background-image: none;
  background-color: #d83737;
}
.primary-theme.btn:active:hover, .primary-theme.btn.active:hover {
  background-color: #eddb00;
}
.open .primary-theme.btn.dropdown-toggle {
  background-image: none;
}
.primary-theme.btn.disabled, .primary-theme.btn.disabled:hover, .primary-theme.btn.disabled:focus, .primary-theme.btn.disabled:active, .primary-theme.btn.disabled.active, .primary-theme.btn[disabled], .primary-theme.btn[disabled]:hover, .primary-theme.btn[disabled]:focus, .primary-theme.btn[disabled]:active, .primary-theme.btn[disabled].active, fieldset[disabled] .primary-theme.btn, fieldset[disabled] .primary-theme.btn:hover, fieldset[disabled] .primary-theme.btn:focus, fieldset[disabled] .primary-theme.btn:active, fieldset[disabled] .primary-theme.btn.active {
  background-color: #cc127c;
}
.primary-theme.btn .badge {
  color: #cc127c;
  background-color: #FFFFFF;
}

/* Button Strip */
.btn.primary-theme-stripe {
  border-left: 3px solid #cc127c;
}

/* Portlet */
.portlet > .portlet-body.primary-theme,
.portlet.primary-theme {
  background-color: #cc127c;
}

.portlet.solid.primary-theme > .portlet-title,
.portlet.solid.primary-theme > .portlet-body {
  border: 0;
  color: #FFFFFF;
}
.portlet.solid.primary-theme > .portlet-title > .caption {
  font-weight: 400;
}
.portlet.solid.primary-theme > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png);
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png);
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png);
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png);
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png);
}
.portlet.solid.primary-theme > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd;
}

.portlet.box.primary-theme {
  border: 1px solid #ea9595;
  border-top: 0;
}
.portlet.box.primary-theme > .portlet-title {
  background-color: #cc127c;
}
.portlet.box.primary-theme > .portlet-title > .caption {
  color: #FFFFFF;
}
.portlet.box.primary-theme > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.box.primary-theme > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f4c8c8;
  color: #f8dddd;
}
.portlet.box.primary-theme > .portlet-title > .actions .btn-default > i {
  color: #fbeaea;
}
.portlet.box.primary-theme > .portlet-title > .actions .btn-default:hover, .portlet.box.primary-theme > .portlet-title > .actions .btn-default:focus, .portlet.box.primary-theme > .portlet-title > .actions .btn-default:active, .portlet.box.primary-theme > .portlet-title > .actions .btn-default.active {
  border: 1px solid #fdf3f3;
  color: white;
}

/* Statistic Block */
.dashboard-stat.primary-theme {
  background-color: #cc127c;
}
.dashboard-stat.primary-theme.dashboard-stat-light:hover {
  background-color: #df5959;
}
.dashboard-stat.primary-theme .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.primary-theme .details .number {
  color: #FFFFFF;
}
.dashboard-stat.primary-theme .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.primary-theme .more {
  color: #FFFFFF;
  background-color: #cc127c;
}

/* General Element */
.bg-primary-theme {
  border-color: #cc127c !important;
  background-image: none !important;
  background-color: #cc127c !important;
  color: #FFFFFF !important;
}

/* General Text & Icon Font Colors */
.font-primary-theme {
  color: #cc127c !important;
}

.progress-bar.primary-theme {
  background: #cc127c !important;
  color: #FFFFFF !important;
}

/* Tables */
.bg-table-header-primary{
  border-color: #cc127c !important;
  background-image: none !important;
  background-color: #fff !important;
  color: #444 !important; 
}

.bg-table-header-primary.left{
  text-align: left;
}

/* Tab Color */
.page-header .page-header-menu .hor-menu .navbar-nav > .active,
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a, 
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a:hover, 
.page-header .page-header-menu .hor-menu .navbar-nav > li.current > a, 
.page-header .page-header-menu .hor-menu .navbar-nav > li.current > a:hover {
    /*color: #24447b;
    background: #cc127c;*/
  color: #ffffff;
  background: #cc127c;
  font-weight: bold;
} 

/* Angular Material UI */
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; } 
 
 
.primary {
  color : #fff;
  background-color: #cc127c;
  /*border-radius: 10px 0 0 10px;*/
  font-size: 16px;
}

.primary:not([disabled]):hover {
  	background-color: #fff0ab;
   color: #FFFFFF;
}

.primary[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

/* material ui Button */
.md-button.md-fab { 
	min-width: 0;
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 50%;
	margin: 0;
	line-height: 20px; 
	color: #fff;
	box-shadow: none;
}
.md-button.md-fab.md-mini { 
	line-height: 37px;
    width: 35px;
    height: 35px;
} 

.md-button.primary-theme{ 
  	background-color: #cc127c;
}
.md-button.primary-theme:not([disabled]):hover{ 
  	background-color: #da0d0d;
  	color: #FFFFFF;
}
.btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.md-button.primary-theme-pills{
  background-color: #fff;
    border: 1px solid #cc127c;
    color: black;
}
.md-button.primary-theme-pills:not([disabled]):hover{
  background-color: #ec8d8d;
    border: 1px solid #cc127c;
    color: black;
}
.table-pills{
      border-radius: 20px !important;
    width: 100% !important;
    padding: 0;
    height: 25px !important;
}
/*Toolbar*/
.md-toolbar{ 
  	background-color: #cc127c;
}
.md-toolbar.primary-theme{ 
  	background-color: #cc127c;
}
.md-toolbar.md-default-theme{
  	background-color: #cc127c; 
}

/*CARD*/
.card-info-content{
	position: relative;
}
.card-info-content label{
	width: 179px;
	background-color: #eee;
	border-radius: 0 50px 50px 0;
	margin-left: -17px;
	height: 33px;
	margin: 10px 0 0 -17px;
	padding: 7px 0 0 17px;
	float: left;
	font-size: 13px;
}

.card-info-content p{
	margin: 17px 0 0 175px;
   font-style: italic;
   color: #a0a0a0;
}

.md-card-image {
    border-radius: 2px 2px 0 0;
     width: 300px; 
}

.md-toast-fixed {
    position: fixed !important;
    z-index: 105;
    box-sizing: border-box;
    cursor: default;
    overflow: hidden;
    padding: 8px;
    opacity: 1;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*Progress Circular*/
.progressCirculardemoBasicUsage body {
  padding: 20px; }

.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }

.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }

.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }

.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }

.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }

.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }

.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }

.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }

.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }
  

/***
Transparent Button
***/
.btn-transparent.btn {
  background: transparent;
  color: #888;
}

md-pagination-wrapper {
  width: auto!important; // bug where the tabs arent rendered properly.
}

/*MD-TAB custom*/
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: #cc127c !important;
  color: #FFFFFF;
}

.bg-table-header-primary.left-align{
  text-align: left;
  padding-left: 8px;
}