
    .user-login-5 {
       min-height: 100vh;
   }
   .user-login-5 .login-bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100%;
    }
    .backstretch{
      
    }
   .user-login-5 .bs-reset {
     margin: 0;
      padding: 0;
   }
   .user-login-5 .login-container {
       position: relative;
       min-height: 100vh;
       z-index: 0;
           background-color: #fff;
   }
    .user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content {
       padding: 0 40px;
   }
   .user-login-5 .login-container>.login-content {
       margin-top: 35%;
   }
   .user-login-5 .login-container>.login-content>.login-form {
       margin-top: 80px;
       color: #a4aab2;
       font-size: 13px;
   }
   .user-login-5 .login-container>.login-content>.login-form .form-control {
       width: 100%;
       padding: 10px 0;
       border: #a0a9b4;
       border-bottom: 1px solid;
       color: #868e97;
       font-size: 14px;
       margin-bottom: 30px;
       border-radius: 0!important;
        background-color: #fff !important;
      outline: 0!important;
   }
   .user-login-5 .login-bg {
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       min-height: 100vh;
   }
   .user-login-5 .login-container>.login-content>.login-form .forgot-password, .user-login-5 .login-container>.login-content>.login-form .login-button {
       display: inline-block;
   }
   .user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content {
       padding: 0 40px;
   }
   .square{
          border-radius: 0;
   }
   .user-login-5 .login-container>.login-footer {
       position: absolute;
       bottom: 0;
       width: 100%;
       padding-bottom: 10px;
   }
   .user-login-5 .login-container>.login-footer .login-social {
       padding-right: 0;
   }
   .user-login-5 .login-container>.login-footer .login-social li {
       display: inline-block;
       list-style: none;
       margin-right: 1em;
   }
   .user-login-5 .login-container>.login-footer .login-social a {
       color: #a9b5be;
       font-size: 18px;
   }
   .user-login-5 .login-container>.login-footer .login-social a:hover {
       color: #337ab7;
       text-decoration: none;
   }
   .backstretch{
      margin-left: -15px;
   }
   .login-logo{
       z-index: 0;
       position: absolute;
       top: 2.5em;
       left: 2.5em;
        width: 65%;
   }