<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" /> 
  <meta http-equiv="pragma" content="no-cache" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rajah Reports</title> 
  <!-- Bootstrap -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="assets/css/daterangepicker.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/> 

  <link href="assets/css/toastr.min.css"  rel="stylesheet" type="text/css" />
  <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/angular/ng-table.min.css" rel="stylesheet" type="text/css"/> 

  <!-- BEGIN THEME STYLES -->
  <link href="assets/css/angular/angular-material.css" rel="stylesheet">

  <link href="assets/css/layout.css" rel="stylesheet" type="text/css">
  <link href="assets/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <link href="assets/css/app.css" rel="stylesheet">
  <link href="assets/css/login.css" rel="stylesheet">
  <link href="assets/css/custom.css" rel="stylesheet">
  <link href="assets/css/preloader.css" rel="stylesheet">
  <link href="assets/img/logo.png" rel="shortcut icon"/>

</head>
  
<body> 

   <!-- BEGIN HEADER -->
   <div id="header-container" class="hide-element"> 

      <!-- BEGIN HEADER TOP -->
      <div class="page-header-top"> 
         <div class="container">
           <!-- BEGIN LOGO -->
           <div class="page-logo">
             <a href="#/"><img src="assets/img/headlogo.png?1" alt="logo" class="logo-default"></a>
           </div>
           
           <!-- BEGIN RESPONSIVE MENU TOGGLER -->
           <a href="javascript:;" class="menu-toggler"></a>

           <!-- BEGIN TOP NAVIGATION MENU -->
           <div class="top-menu">
             <ul class="nav navbar-nav pull-right">

               <!-- BEGIN USER LOGIN DROPDOWN -->
               <li class="dropdown dropdown-user dropdown-dark">
                 <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                 <img alt="" class="img-circle" src="assets/img/user.png">
                 <span class="username username-hide-mobile"> {{  globals.currentUser.username }} </span>
                 </a>
                 <ul class="dropdown-menu dropdown-menu-default">
                   <li>
                     <a href="#/login">
                     <i class="icon-key"></i> Log Out </a>
                   </li>
                 </ul>
               </li>

             </ul>
           </div>

         </div>
      </div>
      <!-- END HEADER TOP -->

      <!-- BEGIN HEADER MENU -->
      <div class="page-header-menu">
         <div class="container"> 

           <!-- BEGIN MEGA MENU -->
           <div class="hor-menu ">
             <ul class="nav navbar-nav">
               <li ng-class="{'active': $route.current.activetab == 'demographics'}" ng-show="demo != -1">
                 <a href="#/">Demographics</a>
               </li>

               <li ng-class="{'active': $route.current.activetab == 'sales'}" ng-show="sales != -1">
                 <a href="#/sales">Sales</a>
               </li>

               <li ng-class="{'active': $route.current.activetab == 'branches'}" ng-show="branches != -1">
                 <a href="#/branches">Top Suppliers</a>
               </li>

               <li ng-class="{'active': $route.current.activetab == 'redemption'}" ng-show="redemption != -1">
                 <a href="#/redemption">Redemption</a>
               </li> 
             </ul> 
           </div>
           <!-- END MEGA MENU -->

         </div>
      </div>
      <!-- END HEADER MENU -->

   </div>
  <!-- END HEADER --> 


  <!-- BEGIN PAGE CONTAINER -->
  <div class="page-container"> 
    
      <div class="preloader-container">
        <!-- <div class="sk-folding-cube" id="homePreloader"> -->
        <div class="sk-folding-cube" ng-class="{ 'hide-element': preloader == 'hide', 'display-element': preloader == 'display'}" ng-if="preloader">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div> 
 
      <div ng-view class="view-animate"></div>  

  </div>
  <!-- END PAGE CONTAINER -->

  <!-- BEGIN FOOTER -->
  <div id="footer-container" class="hide-element">
    <div class="container">
       2016 &copy; Appsolutely Inc. - Reports V3
    </div>
  </div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
  <!-- END FOOTER -->


  <!-- Bootstrap / Layout Essentials-->
  <script src="assets/js/jquery-2.0.3.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script> 

  <script src="assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script> 
  <script src="assets/js/metronic.js" type="text/javascript"></script>
  <script src="assets/js/layout.js" type="text/javascript"></script> 

  <!-- Charts -->
  <script type="text/javascript" src="assets/js/amcharts.js"></script>
  <script type="text/javascript" src="assets/js/serial.js"></script> 

  <!-- Angular Essentials --> 
  <script src="assets/js/angular-1.5.5/angular.js"></script>
  <script src="assets/js/angular-1.5.5/angular-animate.min.js"></script>
  <script src="assets/js/angular-1.5.5/angular-route.min.js"></script>
  <script src="assets/js/angular-1.5.5/angular-aria.min.js"></script>
  <script src="assets/js/angular-1.5.5/angular-messages.min.js"></script>
  <script src="assets/js/angular-1.5.5/angular-cookies.min.js"></script>
  <script src="assets/js/angular-1.5.5/svg-assets-cache.js"></script>
  <script src="assets/js/angular-1.5.5/angular-material.min.js"></script>

  <script src="assets/js/ng-table.min.js"></script>    

  <!-- Others -->
  <script type="text/javascript" src="assets/js/jquery.backstretch.js"></script> 
  <script type="text/javascript" src="assets/js/angular-filter-count-to.min.js"></script>
  <script src="assets/js/moment.min.js" type="text/javascript" ></script>
  <script src="assets/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
  <script src="assets/js/daterangepicker.js" type="text/javascript"></script> 
  <script src="assets/js/jquery.stickytableheaders.min.js" type="text/javascript"></script> 

  <!-- Main js -->
  <script src="app.js"></script>

  <!-- Directives -->  
  <script src="directives/error-image.directive.js"></script>  

  <!-- Services -->
  <script src="services/query.service.js"></script>
  <script src="services/export.service.js"></script>
  <script src="services/authentication.service.js"></script>
  <script src="services/flash.service.js"></script>
  <script src="services/preloader.service.js"></script>
  <script src="services/table.service.js"></script>
  <script src="services/chart.service.js"></script> 
  <script src="services/toast.service.js"></script>
  <script src="services/exporttoast.service.js"></script>

  <script src="services/user.service.local-storage.js"></script>


  <!--EXCEL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/jszip.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.js" type="text/javascript"></script>
  <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js" type="text/javascript"></script>


  <!-- Controllers -->
  <script src="controllers/demographics.controller.js"></script>
  <script src="controllers/sales.controller.js"></script>
  <script src="controllers/branches.controller.js"></script>
  <script src="controllers/redemptions.controller.js"></script>
  <script src="controllers/login.controller.js"></script> 



</body>
</html>