<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

      	<!-- START OVERVIEW -->
      	<div class="row widget-row">
           <div class="col-md-6">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title">

                     <h4 class="widget-thumb-heading">Top 20 - Quarterly Sales</h4> 
                     <div class="widget-actions"> 
                        <div class="btn-group btn-group-devided" data-toggle="buttons">  
                          <div export-quartervisit export-data="exportQuartervisit" file-name="{{fileName}}"> Export</div>
                         <!--   <a ng-click="vm.ExportQuarterlySales(false)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-download"></i> Export </a> -->
                           <!-- <a ng-click="vm.ExportQuarterlySales(true)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export All</a>  -->
                        </div>
                     </div>

                  </div> 

                  <div class="widget-body"> 
                     <div class="row"> 

                        <table class="table table-hover table-light">
                           <thead>
                           <tr class="uppercase"> 
                              <th >
                                 Supplier
                              </th>  
                              <th>
                                 Sales
                              </th> 
                           </tr>
                           </thead>
                           <tr ng-repeat="data in vm.quarterlysales  | orderBy: '-sales'">   
                              <td>
                                 {{ data.supplier }}
                              </td> 
                              <td>
                                 <span class="bold theme-font"> ₱ {{ data.sales | number }} </span>
                              </td> 
                           </tr> 
                        </table> 
                       
                     </div>
                  </div> 

               </div>
               <!-- END WIDGET THUMB -->
           </div> 
           <div class="col-md-6">
               <!-- BEGIN WIDGET THUMB -->
               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                  <div class="widget-title">

                     <h4 class="widget-thumb-heading">Top 20 - Quarterly Transactions</h4> 
                     <div class="widget-actions"> 
                        <div class="btn-group btn-group-devided" data-toggle="buttons">  
                           <div export-quartertransaction export-data="exportQuartertransaction" file-name="{{fileName}}"> Export</div>
                           <!-- <a ng-click="vm.ExportQuarterlyVisits(false)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-download"></i> Export </a> -->
                           <!-- <a ng-click="vm.ExportQuarterlyVisits(true)" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export All</a>  -->
                        </div>
                     </div>

                  </div> 

                  <div class="widget-body"> 
                     <div class="row"> 

                        <table class="table table-hover table-light">
                           <thead>
                           <tr class="uppercase"> 
                              <th >
                                 Supplier
                              </th>  
                              <th>
                                 Transactions
                              </th> 
                           </tr>
                           </thead>
                           <tr ng-repeat="data in vm.quarterlyvisit | orderBy: '-transactions' ">  
                              <td>
                                 {{ data.supplier }}
                              </td> 
                              <td>
                                 <span class="bold theme-font"> {{ data.transactions | number }} </span>
                              </td> 
                           </tr> 
                        </table> 
                       
                     </div>
                  </div> 

               </div>
               <!-- END WIDGET THUMB -->
           </div> 
       	</div> 
         <!-- END OVERVIEW -->


         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Transaction Summary</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                  <a ng-click="vm.SearchBranchSummary()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                 <!--  <a ng-click="vm.ExportBranchSummary()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a>  -->
                  <div export-transaction export-data="exportTransaction" file-name="{{fileName}}"> Export</div>
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                     
                     <div class="input-group date-picker input-daterange filter-calendar" data-date-format="yyyy/mm/dd">
                        <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                        <input ng-model="vm.daterange.summary.start" type="text" class="form-control" name="from" placeholder="Start Date">
                        <span class="input-group-addon">to</span>
                        <input ng-model="vm.daterange.summary.end" type="text" class="form-control"  name="to" placeholder="End Date"> 
                     </div>  
                  </div>   

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.summary | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                        <table ng-table="vm.tableParams" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even"> 
                             <td title="'Supplier'" filter="{ supplier: 'text'}" sortable="'supplier'" header-class="'bg-table-header-primary left-align'" style="text-align:left;">
                                 {{ item.supplier }}
                              </td>  
                              <td title="'Total Amount'" filter="{ totalAmount: 'number'}" sortable="'totalAmount'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span ng-if ="!item.totalAmount"> ₱ 0.00 </span>
                                 <span ng-if ="item.totalAmount"> ₱ {{ item.totalAmount | number }} </span>
                              </td> 
                              <td title="'Customer Count'" filter="{ totalMember: 'number'}" sortable="'totalMember'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span > {{ item.totalMember | number}} </span>
                              </td> 
                              <td title="'Total Transaction'" filter="{ totalTransaction: 'number'}" sortable="'totalTransaction'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 <span class="bold theme-font"> {{ item.totalTransaction | number}} </span>
                              </td>   
                           </tr>   
                        </table>  
                     </div>  

                     <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.summary">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                     </div>  
                     <div class="table-footer-space"></div>
                  </div> 
               </div>  
                
           </div>

         </div>
        <!-- END PORTLET --> 

 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
