<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
   <div class="container-fluid">  
    	<div class="row">
	      <div class="col-md-12">  

	      	<!-- START OVERVIEW -->
	      	<div class="row widget-row">
	            <div class="col-md-3">
	               <!-- BEGIN WIDGET THUMB -->
	               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 "> 
	                  <div class="widget-title">
	                  	<h4 class="widget-thumb-heading">Registration</h4> 
	                  </div>
	                  <div class="widget-body">

		                  <div class="margin-bottom-20"></div> 
		                  <div class="widget-thumb-wrap">
		                      <i class="widget-thumb-icon bg-purple fa fa-asterisk"></i>
		                      <div class="widget-thumb-body">
		                          	<span class="widget-thumb-subtitle">Total</span>
		                          	<span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{ vm.totalusers }}">
		                          		<span class="count" count-to="{{vm.totalusers}}" value="0" duration="2" filter="number"></span>  
		                          	</span>
		                      </div>
		                  </div>

	                  </div>
	               </div>

	               <!-- END WIDGET THUMB -->
	            </div>
	            <div class="col-md-6">
	               <!-- BEGIN WIDGET THUMB -->
	               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">
	                  <div class="widget-title">
	                  	<h4 class="widget-thumb-heading">Age Group</h4> 
	                  </div>
	                  <div class="widget-body">
	                  	<div id="ageChart"></div>
	                  </div>
	               </div>
	               <!-- END WIDGET THUMB -->
	            </div>
	            <div class="col-md-3">
	               <!-- BEGIN WIDGET THUMB -->
	               <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

	                  <div class="widget-title">
	                  	<h4 class="widget-thumb-heading">Gender Group</h4>
	                  </div> 

	                  <div class="widget-body"> 
	                  	<div class="widget-thumb-wrap">
		                       <i class="widget-thumb-icon bg-purple fa fa-male"></i>
		                       <div class="widget-thumb-body">
		                           <span class="widget-thumb-subtitle">Male</span>
		                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.male}}">
		                          		<span class="count" count-to="{{vm.gendercount.male}}" value="0" duration="2" filter="number"></span>   
		                           </span>
		                       </div>
		                  </div>
		                  <div class="margin-bottom-20"></div>
		                  <div class="widget-thumb-wrap">
		                      <i class="widget-thumb-icon bg-red fa fa-female"></i>
		                      <div class="widget-thumb-body">
		                           <span class="widget-thumb-subtitle">Female</span>
		                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.female}}">
		                          		<span class="count" count-to="{{vm.gendercount.female}}" value="0" duration="2" filter="number"></span>  
		                          	</span>
		                      </div>
		                  </div>
		                  <div class="margin-bottom-20"></div>
		                  <div class="widget-thumb-wrap">
		                      <i class="widget-thumb-icon bg-green fa fa-users"></i>
		                      <div class="widget-thumb-body">
		                           <span class="widget-thumb-subtitle">Total</span>
		                           <span class="widget-thumb-body-stat" data-counter="counterup" data-value="{{vm.gendercount.male + vm.gendercount.female}}">
		                          		<span class="count" count-to="{{vm.gendercount.male + vm.gendercount.female}}" value="0" duration="2" filter="number"></span>
		                          	</span>
		                      </div>
		                  </div>
	                  </div>
	                  


	               </div>
	               <!-- END WIDGET THUMB -->
	            </div> 
	       	</div>

	      	<!-- START PORTLET -->
	      	<div class="portlet light">

	            <div class="portlet-title">
	               <div class="caption">
	                   <i class="icon-bar-chart font-dark hide"></i>
	                   <span class="caption-subject font-dark bold uppercase">Demographics</span>
	                   <span class="caption-helper">special reports...</span>
	               </div>
	               <div class="actions">
	                   <div class="btn-group btn-group-devided" data-toggle="buttons">  
									<a ng-click="vm.GetCustomerDetails()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
									<!-- <a ng-click="vm.ExportCustomer()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a>  -->
									 <div excel-export export-data="exportCustomerData" file-name="{{fileName}}"> Export</div>
	                   </div>
	               </div>
	            </div>
	            <div class="portlet-body">  

						<div class="row"> 
							<div class="col-md-12">  
								<div class="input-group date-picker input-daterange filter-calendar" data-date-format="yyyy/mm/dd">
                           <span class="input-group-btn">
                           <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                           </span>
                           <input ng-model="vm.daterange.summary.start" type="text" class="form-control" name="from" placeholder="Start Date">
                           <span class="input-group-addon">to</span>
                           <input ng-model="vm.daterange.summary.end" type="text" class="form-control"  name="to" placeholder="End Date"> 
                        </div>  
							</div>   

							<div class="col-md-12">   

								<div class="record-label"> 
								Total Records: <span class="label label-primary-theme">
									{{vm.totalrecord | number}} </span>
								</div>

	               		<div class="table-responsive">
									<table ng-table="vm.tableParams" class="table" show-filter="false">
										<tr ng-repeat="item in $data" class="even">
								        	  <td title="'Email'" filter="{ email: 'text'}" sortable="'email'" header-class="'bg-table-header-primary left-align'" style="text-align:left"> 
									        		{{item.email}}
									        </td>
									        <td title="'Name'" filter="{ lname: 'text'}" sortable="'lname'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        		<div ng-if="item.lname == '' &&  item.fname == ''  &&  item.mname == '' "></div>
									        		<div ng-if="item.lname != '' ||  item.fname != ''  ||  item.mname != '' ">
									        			{{ item.name }}
									        		</div> 
									        </td>
									        <td title="'Gender'" filter="{ gender: 'text'}" sortable="'gender'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.gender }}
									        </td> 
									         <td title="'Address'" filter="{ address: 'text'}" sortable="'address'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.address }}
									        </td>  
									        <td title="'Mobile No.'" filter="{ mobile_number: 'text'}" sortable="'mobile_number'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.mobile_number }}
									        </td>   
									        <td title="'Country'" filter="{ country: 'text'}" sortable="'country'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.country }}
									        </td>   
									        <td title="'Age'" filter="{ age: 'text'}" sortable="'age'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.age }}
									        </td>
									        <td title="'Birthday'" filter="{ birthdate: 'text'}" sortable="'birthdate'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        <span ng-if="item.birthdate != '0000-00-00' ">{{item.birthdate  | date : 'longDate' }}</span>
									        		<span ng-if="item.birthdate == '0000-00-00' "> </span>
									        </td>
									        <td title="'Date Registered'" filter="{ created_at: 'text'}" sortable="'created_at'" header-class="'bg-table-header-primary'" style="text-align:center;">
									        	{{item.created_at }}
									        </td>    
									   </tr>  
									</table>    
								</div>

					      	<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.doneloading_transactions">
					            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
					         </div>  
					         
	                     <div class="table-footer-space"></div>
							</div> 
						</div>  
	                
	           </div>
	       	</div>
	       	<!-- END PORTLET --> 

	      </div>
    	</div>
    	<!-- END PAGE CONTENT INNER -->
   </div>
</div>
<!-- END PAGE CONTENT