<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container-fluid">  
    <div class="row">
      <div class="col-md-12">  

         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Supplier Redemption</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                     <a ng-click="vm.ShowSupplierRedemption()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                     <!-- <a ng-click="vm.ExportBranchRedemption()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a>  -->
                     <div export-redemption export-data="exportSupplierRData" file-name="{{fileName}}"> Export</div>
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                     <div class="form-group">  
                        <div class="input-group date-picker input-daterange filter-calendar" data-date-format="yyyy/mm/dd">
                           <span class="input-group-btn">
                           <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                           </span>
                           <input ng-model="vm.daterange.branch.start" type="text" class="form-control" name="from" placeholder="Start Date">
                           <span class="input-group-addon">to</span>
                           <input ng-model="vm.daterange.branch.end" type="text" class="form-control"  name="to" placeholder="End Date"> 
                        </div>   
                     </div> 
                  </div>  
               </div>  

               <div class="row">

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.branch | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                         <table ng-table="vm.tableParams_branch" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                             <td title="'Item'" filter="{ item: 'text'}" sortable="'item'" header-class="'bg-table-header-primary left-align'" style="text-align:left;">
                                 {{ item.supplier }}
                             </td>
                             <td title="'Physical Card'" filter="{ physicalCard: 'text'}" sortable="'physicalCard'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.physicalCard }}
                             </td>
                             <td title="'Virtual Card'" filter="{ virtualCard: 'number'}" sortable="'virtualCard'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.virtualCard | number }}
                             </td> 
                             <td title="'Total Card Redeemed'" filter="{ totalCard: 'number'}" sortable="'totalCard'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.totalCard | number }}
                             </td> 
                             <td title="'Card Revenue'" filter="{ cardRevenue: 'number'}" sortable="'cardRevenue'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.cardRevenue | number }}
                             </td>  
                           </tr>  
                        </table> 
                     </div>  

                      <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.branch">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                       </div>  
                     <div class="table-footer-space"></div>
                  </div> 

               </div>
                
           </div>
           
         </div>
        <!-- END PORTLET --> 

         <!-- START PORTLET -->
         <div class="portlet light">

            <div class="portlet-title">
               <div class="caption">
                   <i class="icon-bar-chart font-dark hide"></i>
                   <span class="caption-subject font-dark bold uppercase">Customer Redemption</span> 
               </div>
               <div class="actions">
                  <div class="btn-group btn-group-devided" data-toggle="buttons">  
                     <a ng-click="vm.ShowCustomerRedemption()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                    <!--  <a ng-click="vm.ExportCustomerRedemption()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a>  -->
                    <div export-customer export-data="exportCustomerRData" file-name="{{fileName}}"> Export</div>
                  </div>
               </div>
            </div>
            <div class="portlet-body">  

               <div class="row"> 
                  <div class="col-md-12">  
                     <div class="form-group">  
                        <div class="input-group date-picker input-daterange filter-calendar" data-date-format="yyyy/mm/dd">
                           <span class="input-group-btn">
                           <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                           </span>
                           <input ng-model="vm.daterange.customer.start" type="text" class="form-control" name="from" placeholder="Start Date">
                           <span class="input-group-addon">to</span>
                           <input ng-model="vm.daterange.customer.end" type="text" class="form-control"  name="to" placeholder="End Date"> 
                        </div>   
                     </div> 
                  </div>  
               </div>  

               <div class="row">

                  <div class="col-md-12">  

                     <div class="record-label"> 
                     Total Records: <span class="label label-primary-theme">
                        {{vm.totalrecord.customer | number}} </span>
                     </div>
       
                     <div class="table-responsive">
                         <table ng-table="vm.tableParams_customer" class="table" show-filter="false">
                           <tr ng-repeat="item in $data" class="even">
                             <td title="'Name of Purchaser'" filter="{ purchaser: 'text'}" sortable="'purchaser'" header-class="'bg-table-header-primary left-align'" style="text-align:left;">
                                 {{ item.purchaser }}
                             </td>
                             <td title="'Name of Recipient'" filter="{ recipient: 'text'}" sortable="'recipient'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.recipient }}
                             </td>
                             <td title="'Product Purchased'" filter="{ productPurchased: 'text'}" sortable="'productPurchased'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.productPurchased }}
                             </td> 
                             <td title="'Amount'" filter="{ amount: 'number'}" sortable="'amount'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.amount | number }}
                             </td> 
                             <td title="'Gift Card No.'" filter="{ giftCard: 'text'}" sortable="'giftCard'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.giftCard }}
                             </td> 
                             <td title="'Type of Card'" filter="{ cardType: 'number'}" sortable="'cardType'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                 {{ item.cardType}}
                             </td>  
                           </tr>  
                        </table> 
                     </div>  

                      <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.customer">
                          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                       </div>  
                     <div class="table-footer-space"></div>
                  </div> 

               </div>
                
           </div>
           
         </div>
        <!-- END PORTLET --> 


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
