<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
   <div class="container-fluid">  
      <div class="row">
         <div class="col-md-12">  

         	<!-- START OVERVIEW -->
         	<div class="row widget-row">
              <div class="col-md-12">
                  <!-- BEGIN WIDGET THUMB -->
                  <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 ">

                     <div class="widget-title"> 
                        <h4 class="widget-thumb-heading">Sales Overview</h4>   
                     </div> 

                     <div class="widget-body">
                       
                        <div class="row"> 
                           <div id="saleschart" class="chart"></div>
                        </div>
                     </div>


                  </div>
                  <!-- END WIDGET THUMB -->
              </div> 
          	</div> 
            <!-- END OVERVIEW -->

            <!-- START PORTLET -->
            <div class="portlet light">
               <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-bar-chart font-dark hide"></i>
                      <span class="caption-subject font-dark bold uppercase">Sales Summary</span> 
                  </div>
                  <div class="actions">
                     <div class="btn-group btn-group-devided" data-toggle="buttons">  
                     <a ng-click="vm.SearchSalesSummary()" class="btn btn-lg primary-theme"> <i class="fa fa-search"></i> Search </a>
                      <div export-sales export-data="exportSalesSummary" file-name="{{fileName}}"> Export</div>
                    <!--  <a ng-click="vm.ExportBranchSummary()" ng-disabled="vm.exportingprogress" class="btn btn-lg primary-theme"> <i class="fa fa-cloud-download"></i> Export </a>  -->
                     </div>
                  </div>
               </div>
               <div class="portlet-body">  

                  <div class="row"> 
                     <div class="col-md-12">  
                        <div class="form-group">  
                           <div class="input-group date-picker input-daterange filter-calendar" data-date-format="yyyy/mm/dd">
                              <span class="input-group-btn">
                              <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                              </span>
                              <input ng-model="vm.daterange.summary.start" type="text" class="form-control" name="from" placeholder="Start Date">
                              <span class="input-group-addon">to</span>
                              <input ng-model="vm.daterange.summary.end" type="text" class="form-control"  name="to" placeholder="End Date"> 
                           </div> 
                        </div> 
                     </div>
                  </div>  

                  <div class="row"> 

                     <div class="col-md-12">   
                        <div class="record-label"> 
                        Total Records: <span class="label label-primary-theme">
                           {{vm.totalrecord.summary | number}} </span>
                        </div>
          
                        <div class="table-responsive">
                           <table ng-table="vm.tableParams" class="table" show-filter="false">
                              <tr ng-repeat="item in $data" class="even"> 

                                <td title="'Item'" filter="{ item: 'text'}" sortable="'item'" header-class="'bg-table-header-primary left-align'" style="text-align:left;">
                                    <span > {{ item.item | InitUpperCase}} </span>
                                </td> 
                                <td title="'Total Cards Bought'" filter="{ totalCards: 'text'}" sortable="'totalCards'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                    <span > {{ item.totalCards | number }} </span>
                                </td> 
                                <td title="'Total Sales'" filter="{ totalSales: 'number'}" sortable="'totalSales'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                    <span > {{ item.totalSales | number }} </span>
                                </td>  
                                <td title="'Total Redeemed Amount'" filter="{ totalRedeemedAmount: 'number'}" sortable="'totalRedeemedAmount'" header-class="'bg-table-header-primary'" style="text-align:center;">
                                    <span > {{ item.totalRedeemedAmount | number }} </span>
                                </td>         
                              </tr>  
                           </table>  
                        </div> 

                         <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.preloader.summary">
                             <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                          </div>  
                     </div> 
                  </div> 
              </div>
            </div>
           <!-- END PORTLET -->  
 

         </div>
      </div>
      <!-- END PAGE CONTENT INNER -->
   </div>
</div>
<!-- END PAGE CONTENT -->
